<div class="ThemeSwitcher">
    <i class="fa-solid fa-sun"></i>

    <input
    class="ThemeSwitcher-checkbox"
    type="checkbox"
    role="switch"
    name="theme"
    value="dark"
    />

    <i class="fa-solid fa-moon"></i>
</div>
